*{
    box-sizing: border-box;
}
body {
    background-position: center;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    color: #541191;
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
}

.forgotpassword {
    background-color: rgb(228, 228, 228);
    padding: 12px;
    border: 3px solid rgb(0, 0, 0);
}

.btn {
    font-size: 16px
}

.form-control:focus {
    color:black;
    background-color: rgb(189, 154, 235);
    border-color: black;
    outline: none;
}

.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #eacefe;
    color: #541191 !important;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .bold-text {
    color: #541191 !important
  }
