/* Show it is fixed to the top */

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
  background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
  font-family: 'Rubik', sans-serif;
  background: rgb(255, 255, 255);
  height: 100 !important
}

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #eacefe;
  color: #541191 !important;
  margin-bottom: 0;
  padding-bottom: 0
}

.bold-text {
  color: #541191 !important
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

.wrapper {
  padding: 30px;
  max-width: 1200px;
  margin: auto
}

#sidebar {
width: 25%;
float: left
}

.category {
font-size: 0.9rem;
cursor: pointer
}

.btn-primary {
  color: #fff;
  background-color: #541191;
  border-color:  #541191;
}

.btn-primary:hover {
  color: #fff;
  background-color: #541191;
  border-color:  #541191;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color:  #541191;
  border-color:  #541191;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #541191;
  border-color:  #541191;
}
.btn-outline-primary {
  color:#541191;
  border-color: #541191;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color:#541191;
  border-color: #541191;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #541191;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #541191;
  border-color: #541191;
}
.badge {
  transition: none;
}


a.badge:hover, a.badge:focus {
text-decoration: none;
}

.badge:empty {
display: none;
}

.btn .badge {
position: relative;
top: -1px;
}

.badge-pill {
padding-right: 0.6em;
padding-left: 0.6em;
border-radius: 10rem;
}

.badge-primary {
color: #fff;
background-color: #541191;
}

a.badge-primary:hover, a.badge-primary:focus {
color: #fff;
background-color: #541191;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
-webkit-animation-name: fadeIn; /* Fade in the background */
-webkit-animation-duration: 0.4s;
animation-name: fadeIn;
animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
position: fixed;
bottom: 0;
background-color: #fefefe;
width: 100%;
-webkit-animation-name: slideIn;
-webkit-animation-duration: 0.4s;
animation-name: slideIn;
animation-duration: 0.4s
}

/* The Close Button */
.close {
color: #541191;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color:#df23b6;;
color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
padding: 2px 16px;
background-color:#df23b6;;
color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
from {bottom: -300px; opacity: 0} 
to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
from {bottom: -300px; opacity: 0}
to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}

@keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}

.card-text{
  font-size: 24px;
}

.card-title{
  font-size: 36px;
}
